<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Pet Recommender</h1>
        <p>We can give you a pet recommendation</p>
        <form method="post" action="/results">
            <input type="text" name="activityLevel" placeholder="What is your level of activity: low, medium, or high?"/>
            <input type="text" name="interactionLevel" placeholder="What level of interaction do you want with your pet: low, medium, or high?"/>
            <input type="text" name="petSize" placeholder="Do you want a small, medium, or large pet?"/>
            <input type="submit" value="Submit"/>
        </form>
        <img src = "{{ props.img_url }}"/>
    </body>
</html>